<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- //Version 4.0.1 -->

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="AMSRestServiceURI" value="http://localhost:9191/api/v1/" />
    <!-- The base URL for the AMS Rest API server for the Towing interface. The complete URI is constructed in code using derived parameters-->

    <add key="AMSWebServiceURI" value ="http://localhost:9191/SITAAMSIntegrationService/v2/SITAAMSIntegrationService" />

    <add key="NotificationQueue" value=".\private$\fromamstoadani" />
    <!-- MSMQ queue to listen to for tow event notifications -->

    <add key="RefreshInterval" value="3000000" />
    <!-- Interval in milliseconds between complete refreshes of the towing cache (should be in the order of hours) -->

    <add key="ResetServerRetryInterval" value="5000" />
    <!-- Time in milliseconds to try to connect to the AMS Rest API Server if it is not available -->

    <add key="ServiceName" value="SITAAMSAdaniParkingBilling" />
    <add key="ServiceDisplayName" value="SITA AMS - Adani Parking Billing Calculator" />
    <add key="ServiceDescription" value="Calculates the parking billing fields following a complex set of rules" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>