<config>
  <airport>
    <airportCode>IXE</airportCode>
    <startNightHour>22</startNightHour>
    <startNightMinute>00</startNightMinute>
    <startDayHour>06</startDayHour>
    <startDayMinute>00</startDayMinute>
    <arrivalFreeTime>135</arrivalFreeTime>
    <departureFreeTime>15</departureFreeTime>
    <airportTimeZone>+05:30</airportTimeZone>

    <!-- A AMS API Access Token for this particular airport -->
    <token>8197b4b3-41b7-4d19-80bd-eaab19fc09f0</token>
    <normalCustomField>DI--_ParkingDurationNormal</normalCustomField>
    <nightCustomField>DI--_ParkingNightNormal</nightCustomField>
    <extendedNightCustomField>DI--_ParkingNightExtended</extendedNightCustomField>
    <extendedCustomField>DI--_ParkingDurationExtended</extendedCustomField>

    <!-- <durationRequiredCustomField> must be set as below. Don't change" -->
    <durationRequiredCustomField>B---_isParkingDurationRequired</durationRequiredCustomField>

    <!--
    <timeCalculation> Determines how the final time calculation is made. Possible values:
    RoundUP = Time in hours rounded UP to nearest whole hour
    RouundDOWN  = Time in hours rounded DOWN to nearest whole hour
    Rouund  = Time in hours rounded to nearest whole hour
    Minutes = Time in minutes (no rounding)
    DecimalHours = Time in minutes converted to decimal hour, eg 75 minute = 1.25 Hours
    -->
    <timeCalculation>DecimalHours</timeCalculation>
  </airport>
</config>